/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    // Combo keys are a way to combine multiple keypresses to output a different key.

    combos {
        compatible = "zmk,combos";

        combo_clear_bluetooth {
            timeout-ms = <50>; // Press all the below keys within 50ms to activate mapping
            key-positions = <52 42 0>; // Press 52=LOWER, 42=[, 0=tilde
            bindings = <&bt BT_CLR>; // activate clear bluetooth bindings for current channel
        };
    };

    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <25 26 27 28>;
            hold-trigger-on-release;
        };
        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <31 32 33 34>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |   `      |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
            // |  TAB     |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   =   |
            // |hCTRL tESC|  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT    |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                        | ALT  | GUI  | LOWER|  SPACE |  | BSPC  | ENTER| RAISE | CTRL  |

            bindings = <
&kp GRAVE   &kp N1  &kp N2  &kp N3            &kp N4     &kp N5                                  &kp N6     &kp N7         &kp N8     &kp N9   &kp N0    &kp BACKSPACE
&kp TAB     &kp Q   &kp W   &kp E             &kp R      &kp T                                   &kp Y      &kp U          &kp I      &kp O    &kp P     &kp NON_US_HASH
&kp ESCAPE  &kp A   &kp S   &kp D             &kp F      &kp G                                   &kp H      &kp J          &kp K      &kp L    &kp SEMI  &kp ENTER
&kp LSHFT   &kp Z   &kp X   &kp C             &kp V      &kp B         &kp INSERT    &kp DELETE  &kp N      &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                            &kp LEFT_CONTROL  &kp LMETA  &kp LEFT_ALT  &mo 2         &mo 2       &kp SPACE  &kp RIGHT_WIN  &kp RCTRL
            >;
        };

        mod_tap_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |   `      |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   -   |
            // |  TAB     |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   =   |
            // |hCTRL tESC|  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT    |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                        | ALT  | GUI  | LOWER|  SPACE |  | BSPC  | ENTER| RAISE | CTRL  |

            bindings = <
&trans  &trans          &trans          &trans              &trans        &trans                    &trans  &trans        &trans               &trans           &trans                   &trans
&trans  &trans          &trans          &trans              &trans        &trans                    &trans  &trans        &trans               &trans           &trans                   &trans
&trans  &hml LEFT_ALT A  &hml LEFT_GUI S  &hml LEFT_CONTROL D  &hml LEFT_SHIFT F  &trans                    &trans  &hmr RIGHT_SHIFT J  &hmr RIGHT_CONTROL K  &hmr RIGHT_GUI L  &hmr RIGHT_ALT SEMICOLON  &trans
&trans  &trans          &trans          &trans              &trans        &trans  &trans    &trans  &trans  &trans        &trans               &trans           &trans                   &trans
                                        &trans              &trans        &trans  &trans    &trans  &trans  &trans        &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  F12    |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |   F7  |   F8  |  F9  |  F10  |  F11  |
            // |   `     |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |   -   |
            // |CTRL/ESC |     |     |      |      |      |                   |  <-  |   ^   |   v   |  ->  |       |       |
            // | SHIFT   |     |     |      |      |      |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                       |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp F12  &kp F1                &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6  &kp F7     &kp F8     &kp F9            &kp F10            &kp F11
&trans   &trans                &trans  &trans  &trans  &trans                    &trans  &trans     &trans     &trans            &trans             &trans
&trans   &trans                &trans  &trans  &trans  &trans                    &trans  &kp MINUS  &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SINGLE_QUOTE
&trans   &kp NON_US_BACKSLASH  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans     &trans     &trans            &trans             &trans
                                       &trans  &trans  &trans  &mo 3     &mo 3   &trans  &trans     &trans
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | EXT PWR TOGGLE | BT1     | BT2    |  BT3 |  BT4  |  BT5 |                    |      |       |       |      |       |       |
            // |                |         |        |      |       |      |                    |      |       |       |      |       |   \   |
            // |   ~            |  !      |  @     |  #   |  $    |  %   |                    |  ^   |  &    |  *    |  (   |   )   |   _   |
            // | SHIFT          |  EP_ON  | EP_OFF |      |  (    |  {   |       |  |   DEL   |  }   |  )    |  +    |  {   |   }   | SHIFT |
            //                                     |      |       |      |       |  |         |      |       |       |

            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                    &soft_off             &bootloader           &trans             &trans           &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans                          &trans                &trans                &trans             &trans           &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans                          &kp LEFT_ARROW        &kp DOWN_ARROW        &kp UP_ARROW       &kp RIGHT_ARROW  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &tog 1    &trans  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans  &trans
                                    &trans        &trans        &trans        &trans    &trans  &trans                &trans                &trans
            >;
        };
    };
};
